:root {
    --green: #198754;
    --green-shadow-inset: #0a3622;
    --bg-about-me: rgba(17, 18, 19, 0.3);
    --light-shadow: #ddd;
    --bg-subtitle: #1C1D1E;
    --html5: #e44d26;
    --css3: #2465f1;
    --js: #f0db4f;
    --bootstrap: #7911f7;
    --angular: #dd0031;
    --java: #dc232b;
    --aws: #eb911a;
    --mysql: #006f88;
    --spring-boot: #66aa3b;
    --git: #e44c30;
}

/*Home*/

.link:hover {
    background-color: var(--green);
    box-shadow: 0 0 5px var(--green-shadow-inset) inset;
    transition: 300ms;
}

.title {
    animation: showTitle 600ms linear;
}

@keyframes showTitle {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.imagen {
    animation: showImage 1s linear;
}

@keyframes showImage {
    from {
        transform: translateY(200%);
    }

    to {
        transform: translateY(0%);
    }

}

.navbar {
    animation: showNavbar 800ms linear;
}

@keyframes showNavbar {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

/*About me*/

.img {
    width: 35% !important;
}

.description {
    text-align: justify;
}

.subtitle {
    background-color: var(--green);
    box-shadow: -3px 3px 0px var(--light-shadow);
}

.bg {
    background-color: var(--bg-about-me);
}

/*Skills*/

.skill-icon {
    font-size: 4rem;
}

.html5:hover {
    color: var(--html5);
    transition: 300ms all;
}

.css3:hover {
    color: var(--css3);
    transition: 300ms all;
}

.js:hover {
    color: var(--js);
    transition: 300ms all;
}

.bootstrap:hover {
    color: var(--bootstrap);
    transition: 300ms all;
}

.angular:hover {
    color: var(--angular);
    transition: 300ms all;
}

.java:hover {
    color: var(--java);
    transition: 300ms all;
}

.aws:hover {
    color: var(--aws); 
    transition: 300ms all;
}

.mysql:hover {
    color: var(--mysql);
    transition: 300ms all;
}

.spring-boot:hover {
    color: var(--spring-boot);
    transition: 300ms all;
}

.git:hover {
    color: #e44c30;
    transition: 300ms all;
}

/*Cards*/

.text-aligned {
    text-align: justify;
}

/*.badge{
    box-shadow: -2px 2px 0px var(--light-shadow);
}*/

/*Footer*/
.social-media{
    font-size: 2rem;
    color: #f8f9fa;
}

.social-media:hover{
    color: #B2B8BD;
}

/*Responsive*/

@media (max-width: 767px) {
    .imagen {
        display: none !important;
    }

    .title {
        text-align: center;
    }

    .about-skills {
        display: block;
        width: 90%;
    }
}